body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#uploadForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#fileInput {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    outline: none;
}

#uploadButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

#uploadButton:hover {
    background-color: #0056b3;
}

#uploadProgress {
    text-align: center;
    display: none;
}

#progressPercentage {
    font-weight: bold;
    margin-bottom: 10px;
}

.progressBar {
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 10px;
}

#progressBarFill {
    height: 100%;
    background-color: #007bff;
    border-radius: 5px;
}

#uploadMessage {
    text-align: center;
    font-weight: bold;
}